<h1>changpop.party</h1>
<h2>창팝모음 사이트</h2>
<meta http-equiv="Cache-Control" content="no-cache" />
<meta name="keywords" content="창팝, 신창섭, 창드컵, 창팝 사이트, 창팝모음 사이트">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5575745220460758"
    crossorigin="anonymous"></script>
<div class="menu">
    <table>
        <tr>
            <td><a href="/">메인</a></td>
            <td><a href="/list">창팝목록</a></td>
            <td><a href="/kesa_list">개사곡 목록</a></td>
            <td><a href="/changdcup">창드컵목록</a></td>
            <td><a href="/quiz">창팝 맞추기</a></td>
            <td><a href="/prompt">프롬프트 모음</a></td>
        </tr>
    </table>
</div>
{{ text |safe }}
