<script src="/static/prompt.js"></script>
<button id="창팝딸깍딸깍캬" onclick="btnClick(this.id)">창팝딸깍딸깍캬</button>
<ul>
    <div name="창팝딸깍딸깍캬_div">
    <li>어느순간</li>soul, pop, electro, swing, male solo
    <li>메이플, 지금이니?</li>funk, pop
    <li>진실</li>반주 초반부(udio) - rap, hiphop, boom bap, drum and bass<br>
    extend + 보컬(suno) - Gangsta rap, boom bap, hip hop, hi-fi, trap, rap
    <li>백사과와 함께라면</li>chopper rap, progressive house
    <li>진실 remake</li>
    Gangsta rap, boom bap, groovy, east coast hip hop, jazz rap,
    rock, electro, drum and bass, piano, Mid-Tempo
    <li>우리 모두 해적단</li>drum and bass, rock, electro
    <li>경험치 배율 삭제는 버프다</li>guitar folk, drum and bass, rock, speedy rap, metal
    <li>바람의 노래</li>
    <li>도사의 노래</li>
    <li>이거 진짜에요?</li>future rock, art, house, dance pop, easy listening, festive
    <li>쌀숭이들에게</li>electronic rock, alternative rock, reggae, recorder
    <li>하이퍼버닝 찍먹</li>
    <li>현생으로 돌아가 제발</li>Progressive, house, trance, electro, Stadium
    <li>쌀더지쌀숭이리더지퐁숭이퐁더지</li>lo-fi, electropop, mid-tempo, progressive, funk
    <li>건의사항(udio)</li>disco, synth
    <li>각자의 생각</li>trap, hip hop, rap
    <li>전국에서 재획</li>house, trance
    <li>이해가 안가</li>country, pop, acoustic, festive, studium, rap, disco, rock, electro
    <li>게임이 되는 느낌</li>
    <li>차이</li>edm, electro, house, trance, festive, studium
    <li>쌀쌀하네</li>
    <li>문득 든 생각</li>trap, hip hop, house, Chopper rap, hi-fi, festive, studium
    <li>메소시세의 정상화</li>electronic rock, alternative rock, reggae, recorder
    <li>God Of Normalization</li>
</ul>
</div>
